/* reset.css */

/* Eliminar márgenes y rellenos predeterminados */
/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
} */

/* Establecer estilos predeterminados para elementos semánticos */
/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

/* Eliminar estilos de lista predeterminados */
/* ol,
ul {
  list-style: none;
} */

/* Establecer márgenes y rellenos a cero para elementos de formulario */
/* button,
input,
select,
textarea {
  margin: 0;
} */

/* Restablecer el valor predeterminado del color del texto */
/* a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
} */

/* Establecer estilos de tabla a 'collapse' para evitar márgenes dobles en las celdas de la tabla */
/* table {
  border-collapse: collapse;
  border-spacing: 0;
} */
